# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [7]:
# Your code here
import numpy as np
import pandas as pd

url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
customer_df = pd.read_csv(url)
customer_df.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [8]:
#Identify the dimensions of the dataset by determining the number of rows and columns it contains.
dimension = customer_df.shape
print(f"The customer dataframe contains {dimension[0]} rows and {dimension[1]} columns!\n")

The customer dataframe contains 4008 rows and 11 columns!

In [9]:
#Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. 

print(f"Data type for each column:\n{customer_df.dtypes}")
print("\nEvaluation:")
print("CLV and Number of Open Complaints should be of type float!")

Data type for each column:
Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

Evaluation:
CLV and Number of Open Complaints should be of type float!

In [18]:
#convert the columns to string
customer_df['Number of Open Complaints'] = customer_df['Number of Open Complaints'].astype(str)
print(f"Number of Open Complaints: {customer_df['Number of Open Complaints'].dtypes}");

Number of Open Complaints: object

In [20]:
#Correcting the data types
print("Correcting Data Types for CLV and Number of open complaints!")
print("Old types:")
print(f"CLV: {customer_df['Customer Lifetime Value'].dtypes}");
print(f"Number of Open Complaints: {customer_df['Number of Open Complaints'].dtypes}");

""" print("Updated types:")
customer_df['Customer Lifetime Value'] = customer_df['Customer Lifetime Value'].str.replace('%',' ').astype(float)
customer_df['Number of Open Complaints'] = customer_df['Number of Open Complaints'].str.replace('/',' ').astype(float) """

Correcting Data Types for CLV and Number of open complaints!
Old types:
CLV: float64
Number of Open Complaints: object

' print("Updated types:")\ncustomer_df[\'Customer Lifetime Value\'] = customer_df[\'Customer Lifetime Value\'].str.replace(\'%\',\' \').astype(float)\ncustomer_df[\'Number of Open Complaints\'] = customer_df[\'Number of Open Complaints\'].str.replace(\'/\',\' \').astype(float) '

In [ ]:
#You should also provide suggestions for fixing any incorrect data types.
print("Suggestions for fixing incorrect data types:")
clean_df=customer_df[["Customer Lifetime Value", "Number of Open Complaints"]]

In [22]:
#Identify the number of unique values for categorical columns  
print("Number of unique values for categorical columns:")
categorical_columns = customer_df.select_dtypes(include='object').columns
for col in categorical_columns:
    print(f"{col}: {customer_df[col].nunique()}")
customer_df.nunique()
#customer_df['GENDER'].unique()

Number of unique values for categorical columns:
Customer: 1071
ST: 8
GENDER: 5
Education: 6
Number of Open Complaints: 7
Policy Type: 3
Vehicle Class: 6

Customer                     1071
ST                              8
GENDER                          5
Education                       6
Customer Lifetime Value      1027
Income                        774
Monthly Premium Auto          132
Number of Open Complaints       7
Policy Type                     3
Vehicle Class                   6
Total Claim Amount            761
dtype: int64

In [ ]:
#determine which columns appear to be categorical.
#You should also describe the unique values of each categorical column
# categorical_columns = ["ST", "GENDER", "Education", "Policy Type","Vehicle Class"]
# print(f"Columns considered categorical and it's unique values:\n")
# for colum in categorical_columns:
#     print(f"{colum}: {customer_df[colum].unique()}\n")

In [ ]:
#Determine which columns appear to be categorical.
#You should also describe the unique values of each categorical column

categorical_columns = customer_df.select_dtypes(include='object')
print(f"The following columns are considered categorical:\n {categorical_columns.head()}\n")

for colum in categorical_columns:
    print(f"Unique values for {colum}\n: {categorical_columns[colum].unique()}\n")

In [23]:
#and the range of values for numerical columns, and give your insights.
#numerical_columns = ["Income", "Monthly Premium Auto","Total Claim Amount"]


print("Range for Numerical Columns:")
for colum in numerical_columns:
    customer_df[colum].astype(float) #convert numerical columns to float
    print(f"The range of {colum} goes from {customer_df[colum].min()} to {customer_df[colum].max()}")

#neither_columns = ["Customer","Customer Lifetime Value","Number of Open Complaints"]
#print(f"Columns {neither_columns} are neither numericals or categoricals!")

Range for Numerical Columns:
The range of Customer Lifetime Value goes from 200435.07 to 5816655.35
The range of Income goes from 0.0 to 99960.0
The range of Monthly Premium Auto goes from 61.0 to 35354.0
The range of Total Claim Amount goes from 0.382107 to 2893.239678

In [24]:
#Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. 
numerical_columns = customer_df.select_dtypes(include='number')
customer_df.describe()
#numerical_columns.describe(include="all")
#You should also provide your conclusions based on these summary statistics.

,Customer Lifetime Value,Income,Monthly Premium Auto,Total Claim Amount
count,1.068000e+03,1071.000000,1071.000000,1071.000000
mean,7.936903e+05,39295.701214,193.234360,404.986909
std,6.434784e+05,30469.427060,1601.190369,293.027260
min,2.004351e+05,0.000000,61.000000,0.382107
25%,4.034080e+05,14072.000000,68.000000,202.157702
50%,5.881742e+05,36234.000000,83.000000,354.729129
75%,8.962872e+05,64631.000000,109.500000,532.800000
max,5.816655e+06,99960.000000,35354.000000,2893.239678

In [30]:
#Compute summary statistics for categorical columns and providing your conclusions based on these statistics.
print("Summary statistics for Categorical columns:")
categorical_columns = customer_df.select_dtypes(include='object')
cat_summary = categorical_columns.describe()
print(cat_summary)

Summary statistics for Categorical columns:
       Customer      ST GENDER Education Number of Open Complaints  \
count      1071    1071    954      1071                      4008
unique     1071       8      5         6                         7
top     RB50392  Oregon      F  Bachelor                       nan
freq          1     320    457       324                      2937

          Policy Type  Vehicle Class
count            1071           1071
unique              3              6
top     Personal Auto  Four-Door Car
freq              780            576

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [ ]:
# Your code here
top5_less = customer_df["ST"].value_counts()
top5_less.tail().sort_values(ascending=True) #top 5 less common locations in ascending order

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [ ]:
policy_series = customer_df["Policy Type"]
print(f"Total number of sold policies, by policy type:")
print(policy_series.value_counts())

In [ ]:
print("\nThe highest number of policies sold was for:")
highest_number = customer_df["Policy Type"].value_counts().head(1)
print(highest_number)#.to_string(index=False))

Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

In [31]:
#method that returns the index of the maximum value in a column or row
print(f"\nIndex of Maximum value in Policy Type:")
max_policy_index = customer_df["Policy Type"].value_counts().max()
print(max_policy_index)

Index of Maximum value in Policy Type:
780

In [32]:
customer_df["Policy Type"].value_counts()

Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64

In [33]:
must_sold_policy = customer_df["Policy Type"].value_counts().head(1)
print("Most sold policy", must_sold_policy)

Most sold policy Policy Type
Personal Auto    780
Name: count, dtype: int64

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. 
How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [36]:
pa_auto_df = customer_df[customer_df['Policy Type'] == 'Personal Auto']
ca_auto_df = customer_df[customer_df['Policy Type'] == 'Corporate Auto']

pa_avg_income = pa_auto_df['Income'].mean()
ca_avg_income = ca_auto_df['Income'].mean()

print(f"The average income for Personal Auto is:{pa_avg_income}")
print(f"The average income for Corporate Auto is:{ca_avg_income}")

The average income for Personal Auto is:38180.69871794872
The average income for Corporate Auto is:41390.31196581197

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [ ]:
# Your code here